input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background: linear-gradient(to bottom, #6699ff 0%, rgb(192, 192, 192) 100%);
  padding: 20px;
}

#contacts {
  animation-duration: 1.5s;
  animation-delay: 1s;
}



.animate__flipInX {
  animation-duration: 1.5s;
  animation-delay: 3s;
}

@media (max-width: 786px) {
  #contacts {
    flex-direction: column;
    justify-content: space-between;
  }
}
