.btn {
  width: 40%;
  align-self: center;
  margin-top: 1rem;
}

/* .btn a {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.btn a:hover {
  color: white;
} */

@media (max-width: 786px) {
  .mt-5 {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 90%;
    height: 50vw;
  }
}
