/* body {
  background-image: url(../images/avinash-kumar-MjehAOr30n8-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  scroll-behavior: smooth;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 2.2rem;
}

/* NAVBAR AREA */

.navbar {
  background-color: rgb(106, 200, 236);
  font-family: "Oswald", sans-serif;
}

.navbar li {
  margin-left: 0.5rem;
  border-bottom: 1px solid transparent;
}

.navbar li:hover {
  border-bottom: 1px solid black;
}

/* MAIN AREA */

.carousel-caption a {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-shadow: 6px 2px 7px #ffffff81;
}

/* FOOTER AREA */

footer {
  background-color: rgb(106, 200, 236);
  padding: 1rem;
  line-height: 1.2rem;
}

#nav2 {
  font-family: "Oswald", sans-serif;
}

footer h4 {
  padding: 0.5rem;
}

footer p {
  font-size: 0.7rem;
}
