.card {
  filter: grayscale(100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card:hover {
  transform: scale(1.05);
  filter: grayscale(20%);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 59px 38px,
    rgba(0, 0, 0, 0.22) 0px 55px 12px;
}

@media (max-width: 768px) {
  .card {
    filter: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .card:hover {
    transform: none;
    filter: none;
    transition: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

/* ANIMATIONS */

.no1 {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
.no2 {
  animation-duration: 1.5s;
  animation-delay: 0.7s;
}
.no3 {
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}
.no4 {
  animation-duration: 1.5s;
  animation-delay: 1.1s;
}
.no5 {
  animation-duration: 1.5s;
  animation-delay: 1.3s;
}
.no6 {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.no7 {
  animation-duration: 1.5s;
  animation-delay: 1.7s;
}
.no8 {
  animation-duration: 1.5s;
  animation-delay: 1.9s;
}
.no9 {
  animation-duration: 1.5s;
  animation-delay: 2.1s;
}
.no10 {
  animation-duration: 1.5s;
  animation-delay: 2.3s;
}
.no11 {
  animation-duration: 1.5s;
  animation-delay: 2.5s;
}
.no12 {
  animation-duration: 1.5s;
  animation-delay: 2.7s;
}
.no13 {
  animation-duration: 1.5s;
  animation-delay: 2.9s;
}
.no14 {
  animation-duration: 1.5s;
  animation-delay: 3.1s;
}